/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.logo {
  margin-left: 20px;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.navbar {
  line-height: 31px;
  margin-right: 20px;
}
.navbar ul {
  list-style-type: none;
  text-align: right;
  margin-top: 2%;
  margin-bottom: 2%;
}
.navbar ul li {
  display: inline-block;
  margin-left: 4%;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.container_img_sfondo {
  background: url("../img/sfondo.jpg");
  background-size: cover;
  height: 400px;
}

.relative {
  position: relative;
}

.titolo {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.titolo h1 {
  font-size: 55px
}
